---
import LayoutCard from "../LayoutCard.astro";
import IconCard from "../icons/IconCard.astro";


---
<LayoutCard>

 <div class=" bg-gradient-to-r dark:from-neutral-800 dark:via-blue-500 dark:to-neutral-800 from-gray-200 via-blue-600 to-neutral-200 p-[0.7px] rounded-3xl">
   <div class=" rounded-3xl p-10 bg-gradient-to-t from-gray-200 to-gray-100 dark:from-neutral-800 dark:to-neutral-900 flex flex-col gap-3 max-w-[450px] shadow-lg ">
  <IconCard />
  <p class="dark:text-white font-semibold text-xl pb-2">Lorem ipsum dolor sit </p>
  <p class="dark:text-gray-400 font-semibold max-w-[400px] text-md">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Optio nostrum, dolorum rerum quidds  </p>
  </div> 
 </div>
</LayoutCard>