---
import LayoutCard from "../LayoutCard.astro";
---

<LayoutCard>
    <div class="flex md:text-start text-center dark:text-gray-300 text-white">
        <div 
        style=`background-image: url('./wallpaper4.webp')`
        class=" h-[320px] md:w-[500px] w-[300px]  bg-cover bg-no-repeat bg-center absolute dark:opacity-70 ">
        </div>
        <div class="h-[320px] md:w-[500px] w-[300px]    bg-gradient-to-t from-black via-transparent to-black relative  flex items-center">
          <div class="flex flex-col gap-4 p-10 md:items-start">
            <p class="font-bold text-2xl">Lorem Impsum</p>
            <p class="max-w-[800px] text-md">Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut nisi explicabo, cupiditate voluptatum dolore perspiciatis nemo at repudiandae quas?.</p>
            <button class="bg-blue-800 hover:bg-blue-700 py-2 px-4 border-blue-900 text-sm rounded border bg-opacity-80">Button</button>
          </div>  
        </div>
      </div> 
</LayoutCard>